<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - 長興法律事務所</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300">
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("Styles", false)
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header" class="wrap">
            <h1 class="logo inline-block" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">
                <span class="text-hide">長興法律事務所</span>
                <small class="logo-en block">CHINI LAW FIRM</small>
                <small class="logo-sub block">〔原呂理胡律師事務所〕</small>
            </h1>
            <h2 class="slogan">PROFESSIONAL . INNOVATIVE . EFFICIENT</h2>

            @if (!ViewBag.IsFirstPage) {
                <nav id="menu">
                    <a href="~/Home/AboutUs" class='nav-item @(ViewBag.BodyClass == "AboutUs" ? "current" : "")'>簡介</a>
                    <a href="~/Home/Lawyers" class='nav-item @(ViewBag.BodyClass == "Lawyers" ? "current" : "")'>專業團隊</a>
                    <a href="~/Home/Service" class='nav-item @(ViewBag.BodyClass == "Service" ? "current" : "")'>專業領域</a>
                    <a href="https://lawyer4518.blogspot.tw/" class="nav-item" target="new">BLOG</a>
                    <a href="~/Home/ContactUs" class='nav-item @(ViewBag.BodyClass == "ContactUs" ? "current" : "")'>連絡我們</a>
                </nav>
            }
        </header>

        @RenderBody()

    </div><!-- wrapper //-->

    <a href="#header" class="goTop ti-angle-up" title="TOP"></a>

    <footer id="footer">
        <section class="foot-slogan">講實理．求實材而重實用</section>
        <section class="wrap">
            <h1 class="foot-logo col-md-2">長興法律事務所</h1>
            <div class="col-md-10 foot-content text-left">
                <article class="row foot-contact">
                    <p class="col-md-3">6F' No.1 Chung-Yang W.Rd.Sec.1 'Chung-Li City' TAIWAN R.O.C</p>
                    <ul class="list-inline col-md-4 push-md-1">
                        <li><em class="circle">T</em>886-3-4222325</li>
                        <li><em class="circle">F</em>886-3-4250813</li>
                        <li><em class="circle">E</em><a href="mailto:lawyer@chini.idv.tw">lawyer@chini.idv.tw</a></li>
                    </ul>
                </article>
                <hr>
                <article class="row">
                    <nav class="foot-nav col-md-4">
                        <a href="~/Home/AboutUs" class='@(ViewBag.BodyClass == "AboutUs" ? "current" : "")'>簡介</a>
                        @* <a href="~/Home/Lawyers" class='@(ViewBag.BodyClass == "Lawyers" ? "current" : "")'>專業團隊</a> *@
                        <a href="~/Home/Service" class='@(ViewBag.BodyClass == "Service" ? "current" : "")'>專業領域</a>
                        <a href="https://lawyer4518.blogspot.tw/" target="new">BLOG</a>
                        <a href="~/Home/ContactUs" class='@(ViewBag.BodyClass == "ContactUs" ? "current" : "")'>連絡我們</a>
                    </nav>
                    <dl class="foot-lawer col-md-5">
                        <dt class="pull-left">LAWER</dt>
                        <dd class="rest">
                            <a href="~/Home/Lawyers#p1" class="scroll">呂理胡</a>
                            <a href="~/Home/Lawyers#p2" class="scroll">唐永洪</a>
                            <a href="~/Home/Lawyers#p3" class="scroll">張晶瑩</a>
                            <a href="~/Home/Lawyers#p4" class="scroll">楊雅馨</a>
                            <a href="~/Home/Lawyers#p5" class="scroll">呂浩瑋</a>
                        </dd>
                    </dl>
                </article>
            </div>
            <div class="copyright font-tiny">&copy; 2008 - @DateTime.Now.Year CHINI LAW FIRM</div>
        </section>
    </footer><!-- footer //-->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script>
        // 卷軸卷動效果
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('.goTop').addClass('fade-in').removeClass('fade-out');
            } else {
                $('.goTop').removeClass('fade-in').addClass('fade-out');
            }
        });

        // 點選後跳到 href 指向的位置
        $('.scroll, .goTop').click(function () {
            var scrollToAnchor = $(this).attr('href');
            $('html, body').stop(true).animate({
                scrollTop: $(scrollToAnchor).offset().top - 40
            }, 750);
            return false;
        });
        // 行動裝置的主選單
        $trigger = $('.mobile-toggle');
        $trigger.click(function () {
            $(this).toggleClass('active');
            if ($(this).hasClass('active')) {
                $(this).removeClass('ti-menu').addClass('ti-close');
            }
            else {
                $(this).removeClass('ti-close').addClass('ti-menu');
            }
            $('body').toggleClass('js-mobile-body');
        });
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#menu').click(function(e){
                $('body').removeClass('js-mobile-body');
                $trigger.removeClass('active');
                e.preventDefault();
            });
            $(".nav-item").click(function(e){
                e.stopPropagation();
            });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
